// SPLASH

$splash-background: rgba(24, 24, 48, 1);
$splash-color: rgba(255, 255, 255, 1);

// BOTTONS

$button-background: rgba(250, 250, 250, 0.2);
$button-color: rgba(255, 255, 255, 1);
$button-hover: rgba(209, 209, 209, 0.14);
